body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 249, 249);
}
ul {
    list-style-type:none;
}
li {
    padding-bottom: 20px;
}
.container {
    border-radius: 10px;
    border: 2px solid black
}
/* *{
   border: 1px solid salmon
} */ 
form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.save-button {
    margin-top: 10px;
    background-color: #2ecc71;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.75s;
}

.save-button:hover {
    background-color: #229e56;
}
.input-group {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: black
}