body {
    margin: 2px;
    padding: 2px;
    background-color: #F9F58B;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #4B006E;
    width: 100%;

}

h1 {
    display: flex;
    justify-content: center;
    background-color: #F9F58B;

}

p {
    display: flex;
    justify-content: center;
    background-color: #F9F58B;
}


#carousel {
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 50%; left: 50%; transform: translate(-50%, -50%)
}