body {
    background-color: #B5925C;
}
h1 {
    display: flex;
    justify-content: center;
    background-color: #B5925C;

}

p {
    display: flex;
    justify-content: center;
    background-color: #B5925C;
}


#carousel {
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 50%; left: 50%; transform: translate(-50%, -50%)
}

#logo {
    width: 200px;
}