section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article {
    display: flex;
    flex-direction: column;
    
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
}
nav{
    display: flex;
    justify-content: space-around;
    
}
nav>img{
    height: 10%;
}
header{
    width: 100%;
    background-color: #B5925C;
}
footer{
    background-color: #F9F58B;
    width: 100%;
}