section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article {
    display: flex;
    flex-direction: column;
    
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
}
nav{
    display: flex;
    justify-content: space-around;

}
nav>img{
    display: flex;
    height: 10%;
}
header{
    width: 100%;
    background-color: #B5925C;
}
footer{
    background-color: #F9F58B;
    width: 100%;
}
.gallery img{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 20%;
    padding: 25px;
}
.gallery img{
    width: 20%;
    height: 20%;
    object-fit: cover;
}
h3{
    padding: 2%;
}
footer{
    padding: 1%;
}
*{
    color: #5500a6;
}