h1,h2,h3,h4,h5,h6{
    padding: 30px 0px;
    font-size: 2rem;
    font-weight: 700;
}

header{
    width:100%;
    background-color: midnightblue;
    height:50px;
    margin-bottom: 100px;
}
nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a {
    padding: 6px 12px;
    background-color: orange;
    margin: 5px;
    text-decoration: none;
}