h1,h2,h3,h4,h5,h6{
    padding: 30px 0px;
    font-size: 2rem;
    font-weight: 700;
}

header{
    width:99%;
    background-color: #1d1135;
    height:50px;
    margin-bottom: 100px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.logo {
    max-height: 50px;
}
nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    color: #F9F58B;
}